:root {
  font-size: 1.2rem;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  font-size: 1.2rem;
  margin: 0;
}
body input {
  padding: 0.2rem;
  font-size: 1.1rem;
}
body input[type=submit],
body input button {
  cursor: pointer;
  font-size: inherit;
}
body ul {
  padding-left: unset;
  margin: 1.5rem 0 2rem 0;
}
body ul li {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}