body {
  width: 100%;
  height: auto;
  margin: 0;
}
body div .static {
  width: 100px;
  height: 100px;
}
body div .classA {
  background: black;
}
body div .classB {
  color: white;
}
body div .classC {
  border: 10px solid yellow;
}
body div .classE {
  background: green;
}