body {
    width: 100%;
    height: auto;
    margin: 0;

    div {
        .static {
            width: 100px;
            height: 100px;
        }

        .classA {
            background: black;
        }

        .classB {
            color: white;
        }

        .classC {
            border: 10px solid yellow;
        }

        .classE {
            background: green;
        }
    }

}