<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link class="css" rel="stylesheet" href="./css/style.css"></link>
    <script src="https://unpkg.com/vue@next"></script>
    <script type="module" src="./js/js.js"></script>
    <!-- <style>
      .static {
        width: 100px;
        height: 100px;
      }
      .active {
        background: green;
      }
      .text-danger {
        background: red;
      }
    </style> -->
</head>
<body>
   <div id="app">
      <p>input 元素:</p>
      <input v-model="message" placeholder="編輯我....">
      <p>input 表單消息是: {{ message }}</p>

      <p>textarea 元素</p>
      <textarea v-model="message2" placeholder="多行文本輸入..."></textarea>
      <p>textarea 表單消息是:</p>
      <p style="white-space: pre">{{ message2 }}</p>
    </div>
</body>
</html>